<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Contact us</p>
  
    <!-- Name -->
    <input type="text" formControlName="name" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" formControlName="email" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  
  
    <!-- Query -->
    <div class="form-group">
      <textarea formControlName="query" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Query"></textarea>
    </div>
  
  
    <!-- Submit button -->
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Submit</button>
  
  </form>

