<form>
    <div class="container">
        <div class="row mt-1">
            <div class="col-2"></div>
            <div class="col-8">
                <div>
                    <h1 class="text-center">Add News</h1>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Enter description">
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" class="form-control" placeholder="Enter URL">
                </div>
                <div class="form-group">
                    <label>URL to Image</label>
                    <input type="text" class="form-control" placeholder="Enter URL to image">
                </div>
                <div class="form-group">
                    <label>Published At</label>
                    <input type="text" class="form-control" placeholder="Enter publish location">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mr-1">Add</button>
                    <button type="submit" class="btn btn-warning">Reset</button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</form>