<header>
<h1>Sports</h1>
</header>

<body>
    <div class="container">
        <div class="row">
            <div *ngFor="let news of sportsNewsList" class="card" style="width: 18rem;">
                <div class="col">
                    <img class="card-img-top" src="{{news.img}}" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{news.title}}</h5>
                        <p class="card-text">{{news.description}}</p>
                        <a href="{{news.url}}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</body>
