<!-- <div class="container">
  <div class="weather-side">

    <div class="date-container">
      <h2 class="date-dayname">{{dayName}}</h2><span class="date-day">{{date | date}}</span>
      <span class="location">
        <img style=" height: 25px;" src="https://www.freeiconspng.com/uploads/red-location-map-pin-icon-5.png" />
        {{weatherDetails.city}}, {{weatherDetails.countryCode}}
      </span>
    </div>
    <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
      <h1 class="weather-temp">{{weatherDetails.temp | number: '1.0-0'}}°F</h1>
      <h3 class="weather-desc">{{ weatherDetails.weather[0].main}} <img style=" height: 50px;"
          [src]="getWeatherIcon(weatherDetails.weather[0].id)" /></h3>
    </div>
  </div>
  
  <div class="info-side">
    <div class="today-info-container">
      <div class="today-info">
        <div class="precipitation"> <span class="title">UV INDEX</span><span class="value">{{weatherDetails.uvi}}</span>
          <div class="clear"></div>
        </div>
        <div class="humidity"> <span class="title">HUMIDITY</span><span class="value">{{weatherDetails.humidity}}
            %</span>
          <div class="clear"></div>
        </div>
        <div class="wind"> <span class="title">WIND</span><span class="value">{{weatherDetails.wind_speed}}
            miles/h</span>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="week-container">
      <ul class="week-list">
        <li [ngClass]="{'active' : i === 0}" *ngFor="let eachDay of dailyWeather; let i = index">
          <img style=" height: 35px;" src="http://openweathermap.org/img/wn/{{eachDay[2]}}@2x.png" />
          <span class="day-name">{{eachDay[0]}}</span><span class="day-temp">{{eachDay[1] | number: '1.0-0'}}°F</span>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div> -->