<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
  <div class="w3-row">
    <div class="w3-half w3-light-gray w3-container w3-center" style="height:700px">
      <div class="w3-padding-64">
        <h1>Location</h1>
      </div>
      <div class="w3-padding-64">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214586.9030065622!2d-96.87163622098835!3d32.82087508293619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c19f77b45974b%3A0xb9ec9ba4f647678f!2sDallas%2C%20TX!5e0!3m2!1sen!2sus!4v1618958648784!5m2!1sen!2sus"
          width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>
      <h2 class="w3-left-align">Dallas, TX</h2>
    </div>
    <div class="w3-half w3-blue-grey w3-container" style="height:700px">
      <div class="w3-padding-64 w3-center">
        <h1>About Us</h1>
        <div class="w3-left-align w3-padding-large">
          <h3>Node Idea</h3>
          <p>Established 2021. Node Idea is a local news-based company headquartered in Dallas, Texas. We are
            impartial and independent, and every day we print out un-biased content which aim to inform, educate, and
            entertain
            our valued viewers around the nation.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>