<header>
    <link rel="stylesheet" href="chat.component.css">
</header>

<body>
<div class="container content">
    <div class="row">
        	<div class="card">
        		<div class="card-header">Chat</div>
        		<div class="card-body height3">
        			<ul class="chat-list">
        				<li class="in">
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5>Jon Snow</h5>
        							<p>Winter is Coming</p>
        						</div>
        					</div>
        				</li>
        				<li class="out">
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5>Daenerys</h5>
        							<p>I can change that</p>
        						</div>
        					</div>
        				</li>
                    </ul>
                    <textarea placeholder="message"></textarea> <br>
                    <button>Send</button>
                </div>

        	</div>
    </div>
</div>
</body>