<header>
	<link rel="stylesheet" href="chat.component.css">
</header>

<body>
	<div class="container content ">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="card">
					<div class="card-header">Chat</div>
					<div class="card-body height3">
						<ul class="chat-list">
							<li [ngClass]="{ message.self ? 'in': 'out' }">
								<div class="chat-body">
									<div class="chat-message">
										<!-- <h5>Jon Snow</h5> -->
										<p *ngFor="let message of messages">{{message.message}}</p>
									</div>
								</div>
							</li>
<!-- 							<li class="out">
								<div class="chat-body">
									<div class="chat-message">
										<h5>Daenerys</h5>
										<p>I can change that</p>
									</div>
								</div>
							</li> -->
						</ul>
						<p *ngIf="selectedUser === ''">
							<textarea [(ngModel)]="nickname" placeholder="Choose Nickname Here"></textarea>
							<button (click)="loginUser()">Set Nickname</button>
						</p>
						<p *ngIf="selectedUser !== ''">
							<textarea [(ngModel)]="message" placeholder="message"></textarea>
							<button (click)="sendMessage()">Send</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>