//*******************  Weather Sectionr ********************
.weather {
    background:linear-gradient( to top right, rgba(63,81,181,1) 0%,
          rgba(3,155,229 ,1) 40%);
    padding: 1rem 1rem;
}

.image-slider {
    max-width: 400px;
    height: 100px;
}
