<header></header>

<div class="about">
    <p class="h4 mb-4">
        About Us
    </p>
</div>

<div class="row">
    <div class="column">
        <h2 class="h4 mb-4">Location</h2>
        <iframe width="600" height="450" style="border:0" loading="lazy" 
        allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJS5dFe_cZTIYRj2dH9qSb7Lk&key=AIzaSyB46mRfTVPH4-96KSnBhm1F44CjN4yQct8">
        </iframe>
    </div>
</div>

<div class="column">
    <h2 class="h4 mb-4">Company Name</h2>
    <p>
        Some text about the company
    </p>
</div>

<footer></footer>