body, html{
    background-image: url('../../../assets/images/sports/abstract-background.jpg');
    height : 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
